body{
    background: #f7bcbc;
background: radial-gradient(circle, rgba(247, 188, 188, 1) 0%, rgba(148, 187, 233, 1) 100%);
background-attachment: fixed;
margin: 0;
font-family:'poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#form{
    width: 400px;
    height: 80vh;
    background-color: #f7bcbc;
    border-radius: 5px;
    padding: 30px;
    margin-left: centre;
    margin-right: centre;
}
h1{
    text-align: center;
    color: #94BBE9;
}
#form button{
    background-color: #94BBE9;
    color: whitesmoke;
    border:1px solid #94BBE9;
    border-radius: 5px;
    padding: 10px;
    margin:20px 0px;
    cursor:pointer;
    font-size: 20px;
    width: 100%;
}
.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border:1px solid #F7BCBC;
}
.input-group input:focus{
    outline: 0;
}
.input-group.error{
    color: red;
    font-size: 16px;
    margin:5px;
}
.input-group.success input{
    border-color: rgb(37, 252, 37);
}
.input-group.error input{
    border-color:rgb(255, 17, 17)
}